[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/custom/themes/powerlevel10k"]
	path = zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/custom/plugins/zsh-z"]
	path = zsh/custom/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule "zsh/custom/plugins/zsh-nvm"]
	path = zsh/custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "zsh/custom/plugins/zsh-auto-nvm-use"]
	path = zsh/custom/plugins/zsh-auto-nvm-use
	url = https://github.com/Sparragus/zsh-auto-nvm-use
